:root {
  --color-primary-100: theme('colors.blue.100');
  --color-primary-200: theme('colors.blue.200');
  --color-primary-300: theme('colors.blue.300');
  --color-primary-400: theme('colors.blue.400');
  --color-primary-500: theme('colors.blue.500');
  --color-primary-600: theme('colors.blue.600');
  --color-primary-700: theme('colors.blue.700');
  --color-primary-800: theme('colors.blue.800');
  --color-primary-900: theme('colors.blue.900');

  --color-neutral-100: theme('colors.gray.100');
  --color-neutral-200: theme('colors.gray.200');
  --color-neutral-300: theme('colors.gray.300');
  --color-neutral-400: theme('colors.gray.400');
  --color-neutral-500: theme('colors.gray.500');
  --color-neutral-600: theme('colors.gray.600');
  --color-neutral-700: theme('colors.gray.700');
  --color-neutral-800: theme('colors.gray.800');
  --color-neutral-900: theme('colors.gray.900');

  --color-dark: black;
  --color-light: white;
  --color-onLight: var(--color-primary-900);
}

@tailwind base;

.theme-light {
  /* base */
  --color-primary: var(--color-primary-500);
  --color-primarySoft: var(--color-primary-400);
  --color-primaryBold: var(--color-primary-600);
  --color-neutral: var(--color-neutral-500);
  --color-neutralSoft: var(--color-neutral-400);
  --color-neutralBold: var(--color-light);

  /* backgrounds */
  --color-neutralBg: var(--color-neutral-100);
  --color-neutralBgSoft: var(--color-neutral-200);
  --color-primaryBg: var(--color-primary-100);
  --color-primaryBgSoft: var(--color-primary-200);
  --color-footerBg: var(--color-neutral-900);

  /* text */
  --color-onPrimary: var(--color-primary-100);
  --color-onPrimarySoft: var(--color-primary-200);
  --color-onPrimaryBg: var(--color-primary-900);
  --color-onPrimaryBgSoft: var(--color-primary-800);
  --color-onNeutral: var(--color-neutral-800);
  --color-onNeutralSoft: var(--color-neutral-500);
  --color-onNeutralBg: var(--color-neutral-900);
  --color-onNeutralBgSoft: var(--color-neutral-700);

  /* links */
  --color-onPrimaryBgLink: var(--color-primary-300);
  --color-onPrimaryBgLinkHover: var(--color-primary-200);
  --color-onNeutralBgLink: var(--color-primary-500);
  --color-onNeutralBgLinkHover: var(--color-primary-600);


  caret-color: var(--color-onNeutral);
}

.theme-dark {
  /* base */
  --color-primary: var(--color-primary-900);
  --color-primarySoft: var(--color-primary-800);
  --color-primaryBold: var(--color-neutral-300);
  --color-neutral: var(--color-neutral-600);
  --color-neutralSoft: var(--color-neutral-700);
  --color-neutralBold: var(--color-dark);

  /* backgrounds */
  --color-neutralBg: var(--color-neutral-900);
  --color-primaryBg: var(--color-neutral-800);
  --color-footerBg: var(--color-neutral-900);
  --color-primaryBgSoft: var(--color-primary-800);
  --color-neutralBgSoft: var(--color-neutral-800);
  --color-onPrimarySoft: var(--color-primary-100);

  /* text */
  --color-onPrimary: var(--color-neutral-100);
  --color-onPrimarySoft: var(--color-neutral-300);
  --color-onNeutral: var(--color-neutral-100);
  --color-onNeutralSoft: var(--color-neutral-700);
  --color-onPrimaryBg: var(--color-primary-100);
  --color-onPrimaryBgSoft: var(--color-primary-200);
  --color-onNeutralBg: var(--color-neutral-200);
  --color-onNeutralBgSoft: var(--color-neutral-300);

  /* links */
  --color-onPrimaryBgLink: var(--color-primary-300);
  --color-onPrimaryBgLinkHover: var(--color-primary-200);
  --color-onNeutralBgLink: var(--color-primary-400);
  --color-onNeutralBgLinkHover: var(--color-primary-500);

  caret-color: var(--color-onNeutral);
}

html {
  @apply overflow-y-scroll min-h-screen;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@screen sm {
  nav {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@tailwind components;

.diagonal-m {
  clip-path: polygon(0% 0%, 100% theme('spacing.12'), 100% 100%, 0% calc(100% - theme('spacing.12')));
}

.diagonal-sm {
  clip-path: polygon(0% 0%, 100% theme('spacing.6'), 100% 100%, 0% 100%);
}

.diagonal-b {
  clip-path: polygon(0% 0%, 100% theme('spacing.12'), 100% 100%, 0% 100%);
}

.diagonal-t {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - theme('spacing.12')));
}

/* 
below is to prevent autofill from 
changing the background of form elements

https: //stackoverflow.com/a/37432260/13400099
*/
@-webkit-keyframes autofill {

  0%,
  100% {
    @apply text-onPrimary bg-neutralBgSoft;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}


/* 
here's a nice toggle switch

https: //www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
*/
.switch {
  /* position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; */

  @apply relative inline-block w-16 h-8 pb-8 pr-16 rounded-full;
}

.switch input {
  @apply opacity-0 w-0 h-0;
}

.theme-toggle {
  @apply transition duration-150;
}

.slider {
  @apply absolute cursor-pointer bg-primarySoft top-0 left-0 right-0 bottom-0 theme-toggle shadow-md;
}

@screen lg {
  .slider {
    @apply shadow-none;
  }
}

.slider:before {
  content: "";

  @apply absolute bg-primaryBold w-6 h-6 ml-1 mt-1 theme-toggle;
}

input:checked+.slider {
  @apply bg-primary;
}

@screen lg {
  input:checked+.slider {
    @apply bg-neutralBgSoft;
  }
}

input:focus+.slider {
  @apply shadow-inner;
}

input:checked+.slider:before {
  @apply transform translate-x-8;
}

/* Rounded sliders */
.slider.round {
  @apply rounded-full;
}

.slider.round:before {
  @apply rounded-full;
}

.twitter-tweet {
  @apply w-full mx-auto;
}

/* VS Code theme overrides */
.grvsc-container {
  @apply pt-2 pb-1 rounded-md mt-4;
}

.grvsc-line {
  /* padding-left: var(--grvsc-padding-left, var(--grvsc-padding-h, 1.5rem)); */
  /* padding-right: var(--grvsc-padding-right, var(--grvsc-padding-h, 1.5rem)); */
  @apply leading-5;
}

/* See “Line Highlighting” section for details */
.grvsc-line-highlighted {
  @apply shadow-xs bg-green-500;
}

/* the permalink icon */
h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  @apply h-full w-10 -ml-3 -mb-2 transition-all duration-200 opacity-0 inline;
}

h1 a.anchor,
h2 a.anchor,
h3 a.anchor,
h4 a.anchor,
h5 a.anchor,
h6 a.anchor {
  @apply border-b-0;
}

h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg {
  @apply opacity-100 inline-block ml-2 rounded-md;
}

a.anchor:hover {
  @apply text-primary fill-current stroke-current;
}

article h2 {
  @apply -mb-5;
}

article h3 {
  @apply -mb-1;
}

@tailwind utilities;

