:root {
  --color-primary-100: #EBF8FF;
  --color-primary-200: #BEE3F8;
  --color-primary-300: #90CDF4;
  --color-primary-400: #63B3ED;
  --color-primary-500: #4299E1;
  --color-primary-600: #3182CE;
  --color-primary-700: #2B6CB0;
  --color-primary-800: #2C5282;
  --color-primary-900: #2A4365;

  --color-neutral-100: #F7FAFC;
  --color-neutral-200: #EDF2F7;
  --color-neutral-300: #E2E8F0;
  --color-neutral-400: #CBD5E0;
  --color-neutral-500: #A0AEC0;
  --color-neutral-600: #718096;
  --color-neutral-700: #4A5568;
  --color-neutral-800: #2D3748;
  --color-neutral-900: #1A202C;

  --color-dark: black;
  --color-light: white;
  --color-onLight: var(--color-primary-900);
}

@tailwind base;

.theme-light {
  /* base */
  --color-primary: var(--color-primary-500);
  --color-primarySoft: var(--color-primary-400);
  --color-primaryBold: var(--color-primary-600);
  --color-neutral: var(--color-neutral-500);
  --color-neutralSoft: var(--color-neutral-700);
  --color-neutralBold: var(--color-light);

  /* backgrounds */
  --color-neutralBg: var(--color-neutral-100);
  --color-neutralBgSoft: var(--color-neutral-200);
  --color-primaryBg: var(--color-primary-100);
  --color-primaryBgSoft: var(--color-primary-200);
  --color-footerBg: var(--color-neutral-900);

  /* text */
  --color-onPrimary: var(--color-primary-100);
  --color-onPrimarySoft: var(--color-primary-200);
  --color-onPrimaryBg: var(--color-primary-900);
  --color-onPrimaryBgSoft: var(--color-primary-800);
  --color-onNeutral: var(--color-neutral-800);
  --color-onNeutralSoft: var(--color-neutral-500);
  --color-onNeutralBg: var(--color-neutral-900);
  --color-onNeutralBgSoft: var(--color-neutral-700);

  /* links */
  --color-onPrimaryBgLink: var(--color-primary-300);
  --color-onPrimaryBgLinkHover: var(--color-primary-200);
  --color-onNeutralBgLink: var(--color-primary-500);
  --color-onNeutralBgLinkHover: var(--color-primary-600);


  caret-color: var(--color-onNeutral);
}

.theme-dark {
  /* base */
  --color-primary: var(--color-primary-900);
  --color-primarySoft: var(--color-primary-800);
  --color-primaryBold: var(--color-primary-800);
  --color-neutral: var(--color-neutral-600);
  --color-neutralSoft: var(--color-neutral-700);
  --color-neutralBold: var(--color-dark);

  /* backgrounds */
  --color-neutralBg: var(--color-neutral-900);
  --color-primaryBg: var(--color-neutral-800);
  --color-footerBg: var(--color-neutral-900);
  --color-primaryBgSoft: var(--color-primary-800);
  --color-neutralBgSoft: var(--color-neutral-800);
  --color-onPrimarySoft: var(--color-primary-100);

  /* text */
  --color-onPrimary: var(--color-neutral-100);
  --color-onPrimarySoft: var(--color-neutral-300);
  --color-onNeutral: var(--color-neutral-100);
  --color-onNeutralSoft: var(--color-neutral-700);
  --color-onPrimaryBg: var(--color-primary-100);
  --color-onPrimaryBgSoft: var(--color-primary-200);
  --color-onNeutralBg: var(--color-neutral-200);
  --color-onNeutralBgSoft: var(--color-neutral-300);

  /* links */
  --color-onPrimaryBgLink: var(--color-primary-300);
  --color-onPrimaryBgLinkHover: var(--color-primary-200);
  --color-onNeutralBgLink: var(--color-primary-400);
  --color-onNeutralBgLinkHover: var(--color-primary-500);

  caret-color: var(--color-onNeutral);
}

html {
  @apply overflow-y-scroll min-h-screen;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@screen sm {
  nav {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  @apply font-bold mt-4 leading-tight;
}

article h1 {
  @apply text-3xl;
}
article h2 {
  @apply text-2xl;
}
article h3 {
  @apply text-xl;
}
article h4 {
  @apply text-lg;
}

article p, article ul, article ol, article code {
  @apply leading-7 mt-2 mb-6 text-base;
}

@screen md {
  article h1 {
    @apply text-4xl;
  }

  article h2 {
    @apply text-3xl;
  }

  article h3 {
    @apply text-2xl;
  }

  article p,
  article ul,
  article ol,
  article code {
    @apply leading-8 text-xl;
  }
}

@screen lg {
  article p,
  article ul,
  article ol,
  article code {
    @apply leading-9;
  }
}

article pre {
  @apply mt-2 mb-6;
}

article a {
  @apply text-onNeutralBgLink pb-1 border-b border-primarySoft;
}


article a:hover {
  @apply text-onNeutralBgLinkHover pb-1 border-b border-onNeutralBgLinkHover;
}

article blockquote,
article aside {
  @apply mt-2 pb-1 pt-5 px-3 bg-neutralBgSoft text-lg text-onNeutralBgSoft border-l-4 border-primary;
}

.list {
  @apply ml-6 my-4;
}

article ul {
  @apply list list-disc;
}

article ol {
  @apply list list-decimal;
}

article li {
  @apply mb-1;
}

article hr {
  @apply border-primaryBg my-4;
}

@tailwind components;

.diagonal-m {
  clip-path: polygon(0% 0%, 100% theme('spacing.12'), 100% 100%, 0% calc(100% - theme('spacing.12')));
}

.diagonal-sm {
  clip-path: polygon(0% 0%, 100% theme('spacing.6'), 100% 100%, 0% 100%);
}

.diagonal-b {
  clip-path: polygon(0% 0%, 100% theme('spacing.12'), 100% 100%, 0% 100%);
}

.diagonal-t {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - theme('spacing.12')));
}

/* 
below is to prevent autofill from 
changing the background of form elements

https: //stackoverflow.com/a/37432260/13400099
*/
@-webkit-keyframes autofill {

  0%,
  100% {
    @apply text-onPrimary bg-neutralBgSoft;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}


/* 
here's a nice toggle switch

https: //www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
*/
.switch {
  /* position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; */

  @apply relative inline-block w-16 h-8 pb-8 pr-16 rounded-full;
}

.switch input {
  @apply opacity-0 w-0 h-0;
}

.theme-toggle {
  @apply transition duration-150;
}

.slider {
  @apply absolute cursor-pointer bg-primarySoft top-0 left-0 right-0 bottom-0 theme-toggle shadow-md;
}

@screen lg {
  .slider {
    @apply shadow-none;
  }
}

.slider:before {
  content: "";

  @apply absolute bg-primaryBold w-6 h-6 ml-1 mt-1 theme-toggle;
}

input:checked+.slider {
  @apply bg-primary;
}

@screen lg {
  input:checked+.slider {
    @apply bg-neutralBgSoft;
  }
}

input:focus+.slider {
  @apply shadow-inner;
}

input:checked+.slider:before {
  @apply transform translate-x-8;
}

/* Rounded sliders */
.slider.round {
  @apply rounded-full;
}

.slider.round:before {
  @apply rounded-full;
}

@tailwind utilities;

.anchor {
  @apply border-0 -mb-1;
}

.anchor:hover {
  @apply border-0;
}

.twitter-tweet {
  @apply w-full mx-auto;
}