@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
:root {
  --color-primary-50: theme('colors.blue.50');
  --color-primary-100: theme('colors.blue.100');
  --color-primary-200: theme('colors.blue.200');
  --color-primary-300: theme('colors.blue.300');
  --color-primary-400: theme('colors.blue.400');
  --color-primary-500: theme('colors.blue.500');
  --color-primary-600: theme('colors.blue.600');
  --color-primary-700: theme('colors.blue.700');
  --color-primary-800: theme('colors.blue.800');
  --color-primary-900: theme('colors.blue.900');

  --color-neutral-50: theme('colors.gray.50');
  --color-neutral-100: theme('colors.gray.100');
  --color-neutral-200: theme('colors.gray.200');
  --color-neutral-300: theme('colors.gray.300');
  --color-neutral-400: theme('colors.gray.400');
  --color-neutral-500: theme('colors.gray.500');
  --color-neutral-600: theme('colors.gray.600');
  --color-neutral-700: theme('colors.gray.700');
  --color-neutral-800: theme('colors.gray.800');
  --color-neutral-900: theme('colors.gray.900');

  --color-onPrimary: theme('colors.white');
  --color-onPrimarySoft: theme('colors.blue.50');
  --color-onPrimarySofter: theme('colors.blue.100');
}

.theme-light {
  /* primaries */
  --color-primaryBg: var(--color-primary-100);
  --color-primaryBgSoft: var(--color-primary-200);
  --color-primaryBgSofter: var(--color-primary-300);
  --color-primarySoft: var(--color-primary-400);
  --color-primary: var(--color-primary-500);
  --color-primaryBold: var(--color-primary-600);
  --color-onPrimaryBgSofter: var(--color-primary-700);
  --color-onPrimaryBgSoft: var(--color-primary-800);
  --color-onPrimaryBg: var(--color-primary-900);
  --color-light: white;
  --color-onLight: var(--color-neutral-900);

  /* neutrals */
  --color-neutralBg: var(--color-neutral-100);
  --color-neutralBgSoft: var(--color-neutral-200);
  --color-neutralBgSofter: var(--color-neutral-300);
  --color-neutralSoft: var(--color-neutral-400);
  --color-neutral: var(--color-neutral-500);
  --color-neutralBold: var(--color-neutral-600);
  --color-onNeutralBgSofter: var(--color-neutral-700);
  --color-onNeutralBgSoft: var(--color-neutral-800);
  --color-onNeutralBg: var(--color-neutral-900);

  --color-footerBg: var(--color-neutral-100);

  --color-cat0: theme('colors.blue.100');
  --color-onCat0: theme('colors.blue.600');
  --color-cat1: theme('colors.yellow.100');
  --color-onCat1: theme('colors.yellow.600');
  --color-cat2: theme('colors.green.100');
  --color-onCat2: theme('colors.green.600');
  --color-cat3: theme('colors.red.100');
  --color-onCat3: theme('colors.red.600');

  --color-info: theme('colors.blue.400');
  --color-infoBold: theme('colors.blue.500');
  --color-infoBg: theme('colors.blue.50');
  --color-infoBgSoft: theme('colors.blue.100');
  --color-onInfoBg: theme('colors.blue.800');
  --color-onInfoBgSoft: theme('colors.blue.600');

  --color-success: theme('colors.green.400');
  --color-successBold: theme('colors.green.500');
  --color-successBg: theme('colors.green.50');
  --color-successBgSoft: theme('colors.green.100');
  --color-onSuccessBg: theme('colors.green.800');
  --color-onSuccessBgSoft: theme('colors.green.600');

  --color-danger: theme('colors.red.400');
  --color-dangerBold: theme('colors.red.500');
  --color-dangerBg: theme('colors.red.50');
  --color-dangerBgSoft: theme('colors.red.100');
  --color-onDangerBg: theme('colors.red.800');
  --color-onDangerBgSoft: theme('colors.red.600');

  --color-warning: theme('colors.yellow.400');
  --color-warningBold: theme('colors.yellow.500');
  --color-warningBg: theme('colors.yellow.50');
  --color-warningBgSoft: theme('colors.yellow.100');
  --color-onWarningBg: theme('colors.yellow.800');
  --color-onWarningBgSoft: theme('colors.yellow.600');

  --color-onPrimaryBgLink: var(--color-primary-300);
  --color-onPrimaryBgLinkHover: var(--color-primary-200);
  --color-onNeutralBgLink: var(--color-primary-500);
  --color-onNeutralBgLinkHover: var(--color-primary-600);
}

.theme-dark {
  /* base */
  --color-onPrimaryBg: var(--color-primary-100);
  --color-onPrimaryBgSoft: var(--color-primary-200);
  --color-onPrimaryBgSofter: var(--color-primary-300);
  --color-primarySoft: var(--color-primary-900);
  --color-primary: var(--color-primary-800);
  --color-primaryBold: var(--color-primary-700);
  --color-primaryBgSofter: var(--color-primary-800);
  --color-primaryBgSoft: var(--color-primary-800);
  --color-primaryBg: var(--color-primary-800);

  --color-light: var(--color-neutral-900);
  --color-onLight: var(--color-neutral-50);

  --color-neutralBg: var(--color-neutral-800);
  --color-neutralBgSoft: var(--color-neutral-700);
  --color-neutralBgSofter: var(--color-neutral-600);
  --color-neutralSoft: var(--color-neutral-500);
  --color-neutral: var(--color-neutral-400);
  --color-neutralBold: var(--color-neutral-300);
  --color-onNeutralBgSofter: var(--color-neutral-200);
  --color-onNeutralBgSoft: var(--color-neutral-100);
  --color-onNeutralBg: var(--color-neutral-50);

  --color-footerBg: var(--color-neutral-800);

  --color-cat0: theme('colors.blue.900');
  --color-onCat0: theme('colors.blue.300');
  --color-cat1: theme('colors.yellow.900');
  --color-onCat1: theme('colors.yellow.300');
  --color-cat2: theme('colors.green.900');
  --color-onCat2: theme('colors.green.300');
  --color-cat3: theme('colors.red.900');
  --color-onCat3: theme('colors.red.300');

  --color-info: theme('colors.blue.500');
  --color-infoBold: theme('colors.blue.400');
  --color-infoBg: theme('colors.blue.800');
  --color-infoBgSoft: theme('colors.blue.700');
  --color-onInfoBg: theme('colors.blue.200');
  --color-onInfoBgSoft: theme('colors.blue.300');

  --color-success: theme('colors.green.500');
  --color-successBold: theme('colors.green.400');
  --color-successBg: theme('colors.green.800');
  --color-successBgSoft: theme('colors.green.700');
  --color-onSuccessBg: theme('colors.green.200');
  --color-onSuccessBgSoft: theme('colors.green.300');

  --color-danger: theme('colors.red.500');
  --color-dangerBold: theme('colors.red.400');
  --color-dangerBg: theme('colors.red.800');
  --color-dangerBgSoft: theme('colors.red.700');
  --color-onDangerBg: theme('colors.red.200');
  --color-onDangerBgSoft: theme('colors.red.300');

  --color-warning: theme('colors.yellow.400');
  --color-warningBold: theme('colors.yellow.300');
  --color-warningBg: theme('colors.yellow.700');
  --color-warningBgSoft: theme('colors.yellow.600');
  --color-onWarningBg: theme('colors.yellow.100');
  --color-onWarningBgSoft: theme('colors.yellow.200');

  --color-onPrimaryBgLink: var(--color-primary-300);
  --color-onPrimaryBgLinkHover: var(--color-primary-200);
  --color-onNeutralBgLink: var(--color-primary-400);
  --color-onNeutralBgLinkHover: var(--color-primary-500);
}

@tailwind base;

html {
  @apply min-h-screen overflow-y-scroll;

  /* This is to control behavior of smooth scroll anchor links */
  scroll-behavior: smooth;
  scroll-padding-top: theme('spacing.12');
}

input {
  caret-color: var(--color-onNeutralBg);
}

@tailwind components;

/*
below is to prevent autofill from
changing the background of form elements

https: //stackoverflow.com/a/37432260/13400099
*/
@-webkit-keyframes autofill {
  0%,
  100% {
    @apply text-onPrimary bg-neutralBgSoft;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.twitter-tweet {
  @apply w-full mx-auto;
}

/* See “Line Highlighting” section for details */
/* .grvsc-line-highlighted {
  @apply bg-green-500 shadow-xs;
} */

/* the permalink icon */
h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  @apply inline w-10 h-full -ml-3 transition-all duration-200 opacity-0;
}

h1 a.anchor,
h2 a.anchor,
h3 a.anchor,
h4 a.anchor,
h5 a.anchor,
h6 a.anchor {
  @apply border-b-0 text-onNeutralBgSofter fill-current;
}

h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg {
  @apply inline-block ml-2 opacity-100;
}

a.anchor:hover {
  @apply fill-current text-onPrimaryBgSofter;
}

article h2 {
  @apply -mb-5;
}

article h3 {
  @apply -mb-1;
}

/*
gatsby-remark-images classes

Used for images in MDX files.
*/
.gatsby-resp-image-wrapper {
  @apply shadow-xl;
}

.gatsby-resp-image-image {
  @apply sm:rounded-sm;
}

.gatsby-resp-image-figure {
  @apply relative;
}

.gatsby-resp-image-figcaption {
  @apply max-w-screen-lg mt-1 lg:mt-4 text-sm lg:text-base leading-5 text-center text-neutral;
}

/* @media only screen and (max-width: theme('screens.sm')) {
  @apply text-xs;
} */
.gatsby-highlight-code-line {
  background-color: theme('colors.gray.800');
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid theme('colors.gray.600');
  transition: all 0.2s ease-in-out;
}

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background-color: theme('colors.gray.900');
  border-radius: 0.3em;
  padding: 1em;
  overflow: auto;
  @apply my-5 lg:my-10;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*='language-'] {
  background-color: transparent;
  /* margin: 0; */
  padding: 0;
  overflow: initial;
  float: left;
  /* 1 */
  min-width: 100%;
  /* 2 */
}

@tailwind utilities;
