@tailwind base;

:root {
  --color-primary-100: #EBF8FF;
  --color-primary-200: #BEE3F8;
  --color-primary-300: #90CDF4;
  --color-primary-400: #63B3ED;
  --color-primary-500: #4299E1;
  --color-primary-600: #3182CE;
  --color-primary-700: #2B6CB0;
  --color-primary-800: #2C5282;
  --color-primary-900: #2A4365;

  --color-neutral-100: #F7FAFC;
  --color-neutral-200: #EDF2F7;
  --color-neutral-300: #E2E8F0;
  --color-neutral-400: #CBD5E0;
  --color-neutral-500: #A0AEC0;
  --color-neutral-600: #718096;
  --color-neutral-700: #4A5568;
  --color-neutral-800: #2D3748;
  --color-neutral-900: #1A202C;

  --color-dark: #1A202C;
  --color-light: #F7FAFC;
}

.theme-light {
  /* base */
  --color-primary: var(--color-primary-500);
  --color-neutral: var(--color-neutral-500);

  /* backgrounds */
  --color-neutralBg: var(--color-neutral-100);
  --color-primaryBg: var(--color-primary-100);
  --color-footerBg: var(--color-neutral-900);

  /* text */
  --color-onPrimaryText: var(--color-primary-900);
  --color-onPrimarySoftText: var(--color-primary-700);
  --color-onNeutralText: var(--color-neutral-900);
  --color-placeholder: var(--color-neutral-500);

  /* borders */
  --color-onPrimaryDivider: var(--color-primary-400);
  --color-onNeutralDivider: var(--color-neutral-300);

  /* links */
  --color-onPrimaryLinkActive: var(--color-neutral-100);
  --color-onNeutralLinkActive: var(--color-dark);
  --color-onPrimaryLink: var(--color-primary-300);
  --color-onPrimaryLinkHover: var(--color-primary-200);
  --color-onNeutralLink: var(--color-primary-500);
  --color-onNeutralLinkHover: var(--color-primary-600);

  caret-color: var(--color-onNeutralText);
}

.theme-dark {
  /* base */
  --color-primary: var(--color-primary-900);
  --color-neutral: var(--color-neutral-600);

  /* backgrounds */
  --color-neutralBg: var(--color-neutral-900);
  --color-primaryBg: var(--color-neutral-800);
  --color-footerBg: var(--color-neutral-800);

  /* text */
  --color-onPrimaryText: var(--color-neutral-100);
  --color-onPrimarySoftText: var(--color-neutral-600);
  --color-onNeutralText: var(--color-neutral-100);
  --color-placeholder: var(--color-neutral-700);

  /* borders */
  --color-onPrimaryDivider: var(--color-primary-800);
  --color-onNeutralDivider: var(--color-neutral-800);

  /* links */
  --color-onPrimaryLink: var(--color-primary-300);
  --color-onPrimaryLinkHover: var(--color-primary-200);
  --color-onNeutralLink: var(--color-primary-400);
  --color-onNeutralLinkHover: var(--color-primary-500);

  caret-color: var(--color-onNeutralText);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold mt-4;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

p {
  @apply mt-3;
}

.card {
  @apply rounded px-2 py-5 shadow-xl my-4;
}

pre {
  @apply mt-2 shadow-xl;
}

a {
  @apply text-onNeutralLink;
}

a:hover {
  @apply text-onNeutralLinkHover;
}

blockquote {
  @apply bg-primaryBg text-onPrimaryText border-l-4 border-primaryBg card;
}

.list {
  @apply ml-8 my-4;
}

ul {
  @apply list list-disc;
}

ol {
  @apply list list-decimal;
}

li {
  @apply mb-1;
}

hr {
  @apply border-primaryBg my-4;
}

@tailwind components;

.diagonal-m {
  clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));
}

.diagonal-b {
  clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% 100%);
}

.diagonal-t {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 50px));
}


/* 
below is to prevent autofill from 
changing the background of form elements

https: //stackoverflow.com/a/37432260/13400099
*/
@-webkit-keyframes autofill {
  0%,
  100% {
    @apply text-onPrimaryText;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}


@tailwind utilities;