@tailwind base;

.theme-light {
  --color-text: #1A202C;
  --color-neutral: #CBD5E0;
  --color-bg: #F7FAFC;
  --color-primary: #4299E1;
  --color-primary-bg: #EBF8FF;
  --color-primary-text: #2A4365;
  --color-dark: #1A202C;
  --color-link: #4299E1;
  --color-link-hover: #3182CE;
  --color-light: #F7FAFC;
}

.theme-dark {
  --color-text: #F7FAFC;
  --color-neutral: #A0AEC0;
  --color-bg: #1A202C;
  --color-primary: #2C5282;
  --color-primary-bg: #2D3748;
  --color-primary-text: #EBF8FF;
  --color-dark: #2D3748;
  --color-link: #90CDF4;
  --color-link-hover: #63B3ED;
  --color-light: #F7FAFC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold mt-4;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

p {
  @apply mt-3;
}

.card {
  @apply rounded px-2 py-5 shadow-xl my-4;
}

pre {
  @apply bg-textColor text-bgColor card;
}

a {
  @apply text-linkColor;
}

a:hover {
  @apply text-linkHoverColor;
}

blockquote {
  @apply bg-primaryBgColor text-primaryTextColor border-l-4 border-primaryBgColor card;
}

.list {
  @apply ml-8 my-4;
}

ul {
  @apply list list-disc;
}

ol {
  @apply list list-decimal;
}

li {
  @apply mb-1;
}

hr {
  @apply border-primaryBgColor my-4;
}

@tailwind components;

.diagonal-m {
  clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));
}

.diagonal-b {
  clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% 100%);
}

.diagonal-t {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 50px));
}


@tailwind utilities;